<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="generator" content="pandoc">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <meta name="author" content="<%= author %>">
  <title><%= siteTitle %></title>
  <link rel="stylesheet" href="<%= baseUrl %>/css/main.css">
</head>
<body>
  <header>
    <h1>
      <a href="<%= baseUrl %>"><%= siteTitle %></a>
    </h1>
  </header>
  <div role="main">
    <article>
<%- content %>
    </article>
  </div>
  <footer>
    <small>
      <a href="<%= baseUrl %>">Home</a>
      | <a href="https://github.com/thara/thara.github.io">GitHub</a>
      | <a href="<%= baseUrl %>/about">About</a>
      | <a href="<%= baseUrl %>/resume-ja">Resume(ja)</a>
      | &copy; <%= year %> <%= author %>
    </small>
  </footer>
</body>
</html>
